{% extends 'Polls/blocks/MainBlock.html'  %}




{% block title %}

    {{ book.title }}

{% endblock %}



{% block content %}


<div class="card container mt-5 BigDiv">
    <div class="card-body">

        <div class = "ImageBody row">

            <img src="/media/{{ book.image }}" alt="" srcset="" class="" >
            
                <div class = 'col-md-7'>    
                    <h1 >{{ book.title }}</h1>
                
                    <h3 >авторы: </h3>
                
                    <p>
                        {% for aut in book.Author.all %}
                          <a href="/Author/{{ aut.slug }}"> {{ aut.Name }} </a>
                            <br>
                        {% endfor %}    
                    </p>

                    {% for star in CheckStars %}
                        <span class="fa fa-star checked"></span>
                    {% endfor %}

                    {% for star in UnCheckStars %}
                        <span class="fa fa-star"></span>
                    {% endfor %}
                
                    
                    <h1 class = 'text-center'>О книге</h1>   
                    
                    <hr>
                    <p>{{ book.description|safe }}</p>

                    <hr>

                    {% for genre in book.genreTree.all %}
                            <p><i class="far fa-check"></i>  {{ genre.title }}</p>         
                            <br>
                    {% endfor %}    
                </div>
                
   
    </div>
        
    
  
<div class = "comments">
    <h1>Добавить коментарий </h1>
    <form action="" method="POST">
        {% csrf_token %} 
        <div class="form-group">
            <textarea name = "commentText" value = "" class="form-control mt-5" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button type="submit" class="btn btn-primary mb-2">Добавить коментарий</button>
        </div>
        
        
        <hr>
        
        
        <h3>Коменты</h3>
        
        {% for comment in book.comments.all %}
        
        <div class = ''>
            
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                <h5>{{ comment.name }} : {{ comment.text }}</h5>
                <div class="buttons"> <span class="badge bg-white d-flex flex-row align-items-center"> 
                    
                </div>
                
            </div>            
            {% endfor %}
        
        </form>
    </div>
        
        
   

    </div>
  </div>

{% endblock %}