{% extends 'Polls/blocks/MainBlock.html'  %}




{% block title %}

    {{ book.title }}

{% endblock %}


{% block head %}

{% load static %}

<link rel="stylesheet" href="{% static 'Polls/css/detailComents.css' %}">
<link rel="stylesheet" href="{% static 'Polls/css/avatarComment.css' %}">



{% endblock %}



{% block content %}


<div class="card container mt-5 BigDiv">
    <div class="card-body">

        <div class = "ImageBody row">

            <img src="/media/{{ book.image }}" alt="" srcset="" class="" >
            
                <div class = 'col-md-7'>    
                    <h1 >{{ book.title }}</h1>
                
                    <h3 >авторы: </h3>
                
                    <p>
                        {% for aut in book.Author.all %}
                          <a href="/Author/{{ aut.slug }}"> {{ aut.Name }} </a>
                            <br>
                        {% endfor %}    
                    </p>

                    {% for star in CheckStars %}
                        <span class="fa fa-star checked"></span>
                    {% endfor %}

            
                    {% for star in UnCheckStars %}
                        <span class="fa fa-star"></span>
                    {% endfor %}
                
                    <div class = 'row'>
                        <div class="bg-success row ml-1">
                            <h1 class ='likeCount col-1'>{{ book.like.count }}</h1>
                            <h1>
                                <i class="col-2 fas fa-thumbs-up"></i>
                            </h1>
                        </div>
                    </div>


                  

                    {% for genre in book.genreTree.all %}
                            <p><i class="far fa-check"></i>  {{ genre.title }}</p>         
                            <br>
                    {% endfor %}    
                </div>
                
                
            </div>
            
            <h1 class = 'text-center'>О книге</h1>   
            
            <hr>
            <p>{{ book.description|safe }}</p>
            <hr>

        <div class = 'likebuttonDiv'>
            {% if alreadyLiked != '' %}
                <button class="likebutton btn btn-outline-success float-right" onclick="Postlike('{{book.slug}}')"><i class="fad fa-thumbs-up"></i> </button>
            {% else %}
                <p class ='float-right bg-primary text-warning h3 p-1' style="
                    text-shadow: 2px 2px #FF0000;
                    " >
                    Уже есть лайк
                </p>
            {% endif %}
        </div>
            

            <div class = "comments">
    <h1 class = 'text-center'>Добавить коментарий </h1>
    <form action="" method="POST">
        {% csrf_token %} 
        <div class="form-group">
            <textarea name = "commentText" value = "" class="form-control" id ='commentText' onkeyup= "CheckText()"  onchange="CheckText()"  id="exampleFormControlTextarea1" rows="3"></textarea>
         
            <p id ='CountLetters'></p>     
        
            <br> 
            <button type="submit" class="btn btn-primary mb-2">Добавить коментарий</button>
     
        </div>
        
        
        <hr>
        
    </form>

        
        <h3>Коменты</h3>
        
        {% for comment in book.comments.all %}
        
        <div class = ''>
            
            
           <a href="/User/{{ comment.user_id.id  }}/Profile/" class ='text-dark linkComment container'>
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                {% if comment.name.img %}
                <h5><img src="/media/{{ comment.name.img  }}" class= 'avatarComment'>  {{ comment.name }} : {{ comment.text }} </h5>
                {% else %}
                <h5><img src="/media/flat750x075f-pad750x1000f8f8f8.u1.jpg" class= 'avatarComment'>  {{ comment.name }} : {{ comment.text }}</h5>
                {% endif %}
                
            </a> 
                
            </div>            
            {% endfor %}
        
    </div>
        
        
   

    </div>
  </div>

{% endblock %}


{% block scripts %}

  <script>

      
      function CheckText(){
        let desc = $('#commentText').val()
        let ld = desc.split('')
        let lenDesc = ld.length;
        
        if (lenDesc > 300){
            console.log(lenDesc);
            $('#CountLetters').text(`Букв в тексте: ${lenDesc} из 1000 Многовато не будет сохранено`)
        }
        $('#CountLetters').text(`Букв в тексте: ${lenDesc} из 1000`)


    }




  </script>




{% endblock %}

