


<html lang="en">

<head>

  {% load static %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{% static 'Polls/css/TopBar.css' %}">
  <link rel="stylesheet" href="{%  static 'Polls/css/MobileApp.css'  %}">

  {% block head %}
  <link rel="stylesheet" href="{%  static 'Polls/css/AsideStyle.css'  %}">
  <link rel="stylesheet" href="{% static 'Polls/css/detailComents.css' %}">
  <link rel="stylesheet" href="{% static 'Polls/css/contentbar.css' %}">
  {% endblock %}

  <link rel = "icon" type = "image/png" href="{% static 'Polls/images/book6.svg'  %}">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>

   {% block title %} 

 Да да это главная страница 

   {% endblock %}

  </title>
</head>

<body>


  <style>
    body {
      background-image: url(https://images.unsplash.com/photo-1569982175971-d92b01cf8694?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHw%3D&w=1000&q=80) !important;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
  </style>


  <nav class="site-header sticky-top py-1 bg-dark pcVersion">
    <div class="container d-flex flex-column flex-md-row justify-content-between">

      <p class ="" style="font-size: 20px; color: white;"> {{ request.user }}  <i class="far fa-book" style="color:#806eaf"></i>  </p> 
   
      <a class="Navlinks" href="/">Books</a>

      {% if request.user.is_authenticated %}
      <a class="Navlinks" href="{% url 'userProfiileUrl' %}">Profile</a>
      <a class="Navlinks" href="{% url 'LogoutUrl' %}">log out</a>
      {% endif %}
      <a class="Navlinks" href="{% url 'LoginUrl' %}">log in</a>
    </div>
  </nav>

  <nav class="  site-header sticky-top py-1 bg-dark mobileVersion">
    <div class="  flex-column ">

         <i class="far fa-book bookMob" style="color:#806eaf"></i>
   
  
      <a class="Navlinks" href="">Books</a>
      <!-- <a class="Navlinks" href="{% url 'AllAuthorsUrl' %}">Authors</a> -->
      <!-- <a class="Navlinks" href="#">Genres</a> -->
      <a class="Navlinks" href="{% url 'LoginUrl' %}">log in</a>
    </div>
  </nav>




  {% block content %}

  <h1>Пусто</h1>

  {% endblock %}





  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{%  static 'Polls/js/MobileV.js'  %}"></script>
  <script src="{%  static 'Polls/js/likeButtons.js'  %}"></script>
  
  {% block scripts %}


  {% endblock %}
</body>

</html>